.carousel {
  width: 50%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-color: rgba(47, 50, 58, 1);
  color: rgba(237, 230, 227, 1);
  border-radius: 1em;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s;
  border: solid black;
  border-radius: 1em;
}

.carousel-slide {
  display: flex;
  margin-left: 2em;
}

.carousel-slide img {
  height: 30em;
  width: 20em;
}

.carousel-text {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
}

.carousel-text img {
  width: 2.5em;
  height: 2.5em;
}

.carousel-text a {
  width: 7.4em;
}

#project-description {
  text-align: justify;
  width: 30em;
}

.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  font-size: 1em;
  border: none;
  cursor: pointer;
  padding: 1em 1em;
}

.carousel-prev {
  left: 14em;
}

.carousel-next {
  right: 13em;
}

.tech-images {
  display: flex;
  flex-wrap: wrap;
  max-width: 20em;
}

.tech-images img {
  width: 2em;
  height: 2em;
}

#technologie {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 6em;
}

.more-info {
  display: flex;
  margin-bottom: 1em;
}

.more-info a {
  display: flex;
  flex-direction: row;
  margin-right: 1em;
  text-decoration: none;
}

.button-image {
  width: 3em;
  height: 3em;
}

@media (max-width: 767px) {
  .projects-content {
    display: flex;
    justify-content: center;
    margin-bottom: 6em;
  }
  .carousel-inner {
    border-radius: 1em;
  }

  .carousel {
    display: flex;
    margin: 0;
    border-radius: 1em;
    width: 80%;
  }

  .carousel-slide {
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
  }

  #project-image {
    width: 10em;
    height: 10em;
  }

  .carousel-text {
    display: flex;
    align-items: center;
    margin: 0;
  }

  #project-description {
    font-size: 0.75em;
    margin: 0;
    width: 22em;
    text-align: justify;
  }

  .tech-images {
    display: flex;
    margin: 0;
    margin-bottom: 1em;
  }

  .more-info {
    display: flex;
    justify-content: center;
    margin: 0;
    margin-bottom: 1em;
  }

  .button-image {
    width: 1.5em;
    height: 1.5em;
  }

  .carousel-prev {
    left: 0em;
  }

  .carousel-next {
    right: 0em;
  }
}